body {
    font-family: sans-serif;
}
.button {
    text-align: center;
    margin-top: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgoldenrodyellow;
    border: 2px black solid;
    border-radius: 20px;
}
.button a{
    font-size: 30px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;

}
